/* -------------------
GENERAL
-------------------- */

body {
	font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
    color: #54544a;
}
main .container {
	margin-top: 40px;
	margin-bottom: 50px;
}
h2 {
	color: #54544a;
	margin-bottom: 50px;
	font-weight: 700;
}
a {
	color: #99c731;
	text-decoration: none;
}

a:hover {
	color: #54544a;
	text-decoration: none;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5em;
}

/* -------------------
HEADER
-------------------- */

/* navbar */

.navbar {
	margin-bottom:0;	
}

.navbar-nav li a {
	font-size: 1em;	
	font-weight: bold;
}

.navbar-brand {
	padding-top: 0;
	line-height: 105px;
	height: 105px;
}

.navbar-toggle {
	margin-top: 35.5px;	
}

.navbar-absolute {
	position: absolute;	
}

.nav-head {
	margin-top: 35.5px;
	font-weight: 700;
	color: #54544a
}

#logo-header {
	height: 100%;
	margin-top: 8px;
}

/* background */

#bg-header {
	height: 400px;
	margin-top: 105px;
}

#bg-header h1 {
	font-family: 'Varela Round', sans-serif;
    margin-top: 0px;
	text-align: center;
    color: #f4f4f4;
	font-size: 2.5em;
    padding-top: 105px;
    text-shadow: 0px 0px 15px rgba(217, 228, 133, 0.9);
}

#bg1, #bg2, #bg3 {
	height: 300px;
}
/* -------------------
MAIN SECTION
-------------------- */

/* About (What we do) */

#about img {
	width: 60px;
	margin-bottom: 40px;
}
/* portfolio */

.ih-item.square.effect6 {
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
	border: none;
	box-shadow: none;
}

.ih-item.square.effect6 .info p {
	padding: 100px;
	font-size: 1.2em;
	color: #fff;
}

#portfolio img {
    width: 100%;
    height: auto;
    border: 1px solid #e6e6e6;
}



/* selfie (about) */

.avatar {
    width: 50%;
    height: auto;
    border-radius: 50%;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-: grayscale(1);
    -ms: grayscale(1);
    filter: grayscale(1);	
}

/* contact */

#contact h3:first-child{
	margin-top: 0;
}

.nw-icons {
    display: inline;
}

.map {
    overflow: hidden;
    position: relative;
    height: 320px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    max-height: 320px;
    width: 100%;
    position: absolute;
}

#nw-icons img {
    height: 50px;
    width: 50px;
    color: #99c731;
    margin-right: 10px;
}




/* -------------------
FOOTER
-------------------- */

#logo-footer {
	height: 80px;	
}

/* -------------------
MEDIAQUERYS
-------------------- */

@media (min-width: 768px) {
	.navbar-nav li a, .navbar-brand {
		padding-top: 0;
		line-height: 105px;
		height: 105px;
	}
	
	#bg-header {
		height: 500px;
	}
	
	#bg1, #bg2, #bg3 {
		height: 300px;	
	}
}