

/* navbar */

.navbar {
	margin-bottom:0;	
}

.navbar-nav li a {
	font-size: 1em;	
	font-weight: bold;
}

.navbar-brand {
	padding-top: 0;
	line-height: 105px;
	height: 105px;
}

.navbar-toggle {
	margin-top: 35.5px;	
}

.navbar-absolute {
	position: absolute;	
}

#logo-header {
	height: 100%;
	margin-top: 8px;
}


/* background */

#bg-header {
	height: 400px;
	margin-top: 105px;
}

#bg-header h1 {
	font-family: 'Varela Round', sans-serif;
    margin-top: 0px;
	text-align: center;
    color: #f4f4f4;
	font-size: 2.5em;
    padding-top: 105px;
    text-shadow: 0px 0px 15px rgba(217, 228, 133, 0.9);
}

#bg1, #bg2, #bg3 {
	height: 300px;	
}

/* Contact*/

.nw-icons {
    display: inline;
}

#nw-icons img {
    height: 50px;
    width: 50px;
    color: #99c731;
    margin-right: 10px;
}

.map {
    overflow: hidden;
    position: relative;
    height: 320px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    max-height: 320px;
    width: 100%;
    position: absolute;
}





/* footer */

#logo-footer {
	height: 80px;	
}

/* media queries */

@media (min-width: 768px) {
	.navbar-nav li a, .navbar-brand {
		padding-top: 0;
		line-height: 105px;
		height: 105px;
	}
	
	#bg-header {
		height: 500px;
	}
	
	#bg1, #bg2, #bg3 {
		height: 300px;	
	}
}